header.site-header
    a.nav-brand(href="/") Brain Thingy
    nav.nav-links
        a(class=(currentPage === "home" ? "active" : ""), href="/") Home
        a(class=(currentPage === "brain" ? "active" : ""), href="/brain") Brain Explorer
        a(class=(currentPage === "info" ? "active" : ""), href="/info") More Info