header.site-header
    h1
        | Brain Thingy

    nav
        a(class=(currentPage === "home" ? "active" : ""), href="/") Home
        a(class=(currentPage === "about" ? "active" : ""), href="/about") About
        a(class=(currentPage === "contact" ? "active" : ""), href="/contact") Contact