doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Doomed to Scroll
        link(rel="stylesheet", href="/styles/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;1,300&family=DM+Sans:wght@300;400;500&display=swap")

    body
        include partials/header

        main
            include partials/brainSim

        script(type="importmap").
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
                }
            }
        script(type="module" src="/js/brain-client.js")